@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');
@import "variable.scss";
.action-section {
  padding-right: 60px;
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 60px;
}
.dblock {
    display: block;
}
.mainLayout{
  background-color: #e9ebee;
  overflow-x: hidden !important;
}
.wrapper-container{
    padding-left: 350px;
}
.wrapper-container.collapsed{
    padding-left: 20px;
}
// /* .sidebar-menu-partner{
//     font-size: 10px;
// } */
/* .panel{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: burlywood;
    padding-left: 3%;
} */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #1c1e21;
    font-size: 10px;
}
.head-layout{
    padding: 40px 40px 40px 0px;
    width: 100%;
    .title-name{
        color: rgb(94, 94, 94);
        font-weight: bolder;
        font-size: 18px;
    }
}
.head-container{
    /* background-color: rgb(214, 214, 214); */
    background: linear-gradient(to right, #c7c7c7 20%, #888787 100%);
    padding: 1%;
    border-radius: 5px;
    width: 95%;
}
.outlet-body{
    padding: 1%;
    border-radius: 5px;
    width: 95%;
    margin-top:20px;
    margin-left:-10px;
    font-weight: bold;
}
.partner-google-map {
    width: 100%;
    height: 500px;
    display: block;
    background-color: gray;
}
.timeBody{
    margin: 0%;
}
.map-view{
    width: 100%;
    height: 100%;
}
.panel {
    background-color: $color-white;
    border-radius: 6px;
    padding: 20px;
}
.page-header {
    position: relative;
    border-bottom: 1px solid $border-color;
    background-color: $color-white;
    height: 60px;
    margin-bottom: 20px;
    box-sizing: border-box;
    .title {
        margin: 0;
        font-weight: normal;
    }
    .action-section {
        padding-right: 20px;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 60px;
    }
    .back-button {
        display: inline-block;
        margin-right: 20px;
        color: $color-gray;
    }
}
.card-view {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 3%;
  }
  
  .card-view:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .gradient-background-white{
    background-image: linear-gradient(#eaeced, #fffcfc,#eaeced);
    padding: 20px;
    border-radius: 10px;
  }
  .gradient-background-green{
    background-image: linear-gradient(#d9eec9, #d9eec9,#d9eec9);
    padding: 20px;
    border-radius: 10px;
  }
  .input-style{
      width: 98%;
      height: 22px;
  }